.btn.disabled {
  opacity: 1;
  cursor: default;
}

.btn-default:focus {
  background-color: #fff;
}

.mb-30 {
  margin-bottom: 30px;
}

.col-xs-3 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.row {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
