<html ng-app="findThePattern">
<head>
  <title>Find The Pattern</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="MainController as main">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
        <div class="page-header">
          <h4>
            Round {{main.round}}
            <ul class="pull-right list-unstyled list-inline">
              <li ng-repeat="live in [].constructor(main.lives) track by $index">
                <span class="glyphicon glyphicon-heart text-danger"></span>
              </li>
            </ul>
          </h4>
        </div>
        <div class="row">
          <div class="col-xs-3 form-group" ng-repeat="tile in main.tiles track by $index">
            <button type="button" name="button" class="btn btn-default btn-block btn-lg" ng-class="{disabled: !tile}" ng-click="main.onTileClick($index)" ng-disabled="!tile" ng-switch on="tile">
              <random-tile ng-switch-when="random"></random-tile>
              <pattern-tile ng-switch-when="pattern"></pattern-tile>
              <span ng-switch-default class="glyphicon glyphicon-remove invisible"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/ng-template" id="roundCompleted.html">
    <div class="modal-header text-center">
      <h4 class="modal-title" id="modal-title">Nice Job!</h4>
    </div>
    <div class="modal-body text-center" id="modal-body">
      <h1 class="text-success glyphicon glyphicon-ok"></h1>
      <p>Next round starts in {{roundCompleted.timeRemaining}}...</p>
    </div>
  </script>
  <script type="text/ng-template" id="defeat.html">
    <div class="modal-header text-center">
      <h4 class="modal-title" id="modal-title">Defeat!</h4>
    </div>
    <div class="modal-body text-center" id="modal-body">
      <h1 class="text-danger glyphicon glyphicon-remove"></h1>
      <p class="mb-30">Better luck next time.</p>
      <button ng-click="defeat.close()" class="btn btn-block btn-primary">Play again</button>
    </div>
  </script>
  <script type="text/ng-template" id="instructions.html">
    <div class="modal-header text-center">
      <h4 class="modal-title" id="modal-title">How to play</h4>
    </div>
    <div class="modal-body text-center" id="modal-body">
      <p class="mb-30">In each round, find the one tile with a repeating sequence. You have three lives to survive four rounds.</p>
      <button ng-click="instructions.close()" class="btn btn-block btn-primary">Play</button>
    </div>
  </script>
  <script type="text/ng-template" id="taunt.html">
    <div class="modal-header text-center">
      <h4 class="modal-title" id="modal-title">Wrong!</h4>
    </div>
    <div class="modal-body text-center" id="modal-body">
      <h1 class="text-warning glyphicon glyphicon-alert"></h1>
      <p>Next life starts in {{taunt.timeRemaining}}...</p>
    </div>
  </script>
  <script type="text/ng-template" id="victory.html">
    <div class="modal-header text-center">
      <h4 class="modal-title" id="modal-title">Victory!</h4>
    </div>
    <div class="modal-body text-center" id="modal-body">
      <h1 class="text-warning glyphicon glyphicon-star"></h1>
      <p class="mb-30">Thanks for playing.</p>
      <button ng-click="victory.close()" class="btn btn-block btn-primary">Play again</button>
    </div>
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script src="js/app.module.js"></script>
  <script src="js/main.controller.js"></script>
  <script src="js/timeout-modal.controller.js"></script>
  <script src="js/dismissable-modal.controller.js"></script>
  <script src="js/random-tile.directive.js"></script>
  <script src="js/pattern-tile.directive.js"></script>
  <script src="js/tiles.service.js"></script>
  <script src="js/rounds.service.js"></script>
  <script src="js/lives.service.js"></script>
</body>
</html>
